html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    /* prevent text highlight */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas#canvas {
    width: 100%;
    height: 100%;
}

div#scoreboard {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    color: #aaa;
}